<div class ="second_image">
  <div class="content">
    <div class="container">
      <div class ="text-color">
        <div class="row">
          <div class="col-md-9 col-md-offset-1">
          <h1 class="new-topic">topic</h1>
            <% @topics.each do |topic| %>
              <div class="example">
              <button type="button" class="btn btn06">
                <div class="text-left">
                  <%= topic.created_at.strftime('%Y/%m/%d') %><br>
                </div>
                <%= link_to customers_topic_path(topic) do %>
                <div class="news-title">
                  <%= topic.title %>
                </div>
                <% end %>
              </button>
               </div>
                <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>