<div class="top_image">
  <div class="content">
    <div class="container">
      <div class="col-md-11 col-md-offset-2">
        <div class="row">
  		    <h2 class="new-video">Video</h2>
        </div>
        <div class="row">
          <% @video.each do |video| %>
            <image class="img-fluid">
              <figure class="snip1353">
  			        <%= attachment_image_tag video, :image, size: "300x169" %>
              <figcaption>
                  <h2> <%= link_to 'Play!!', customers_video_path(video) %></h2>
                </figcaption>
              </figure>
			      </image>
          <% end %>
          <div class = "col-md-9 col-md-offset-5">
            <%= paginate @video, class: "paginate" %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
