<div class ="second_image">
  <div class="content">
    <div class="container">
      <div class ="text-color">
        <div class="col-md-11 col-md-offset-2">
          <div class="row">
            <h2 class="new-movie">Movie</h2>
          </div>
          <div class="row">
              <% @movie.each do |movie| %>
                <image class="img-fluid">
                  <figure class="snip1353">
    			           <%= attachment_image_tag movie, :image, size: "300x300" %>
                  <figcaption>
                      <h2> <%= link_to 'Play!!', customers_movie_path(movie) %></h2>
                  </figcaption>
                </figure>
    			     </image>
              <% end %>
                <div class = "col-md-9 col-md-offset-5">
                  <%= paginate @movie, class: "paginate" %>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>