<div class ="second_image">
  <div class="content">
    <div class="container">
      <div class ="text-color">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
          <h1 class="new-live">Blog</h1>
            <% @blog.each do |blog| %>
              <div class="example">
                <button type="button" class="btn btn06">
                  <div class="text-left">
                    <%= blog.created_at.strftime('%Y/%m/%d') %><br>
                  </div>
                  <%= link_to customers_blog_path(blog) do %>
                    <%= blog.title %>
                  <% end %>
              </button>
              </div>
                <hr>
            <% end %>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

