<div class="top_image">
  <div class="content">
    <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
          <h1 class="new-live">Live</h1>
            <% @live.each do |live| %>
              <div class="example">
                <button type="button" class="btn btn05">
                <%= link_to customers_life_path(live) do %>
                  <div class="text-left">
                    <%= live.created_at.strftime('%Y/%m/%d') %><br>
                  </div>
                    <%= live.title %>
                <% end %>
              </button>
              </div>
                <hr>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
