/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "summernote-bs4";
@import "bxslider";
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');

.btn-default{
  background-image: image-url("IMG_6184.JPG");
}

.head_image {
  background-image: image-url("IMG_6184.JPG");
}

.head_image {
  background-image: image-url("IMG_6184.JPG");
    background-size: cover;
    background-position: center;
    height: 200px
}

.head_image2 {
    background-image: image-url("header_black.png");
    background-size: cover;
    background-position: center;
    height: 200px
}

.header {
  background-image:
    url("IMG_6184.JPG");
    background-size: cover;
    background-position: center;
}

.header2 {
  background-image: image-url("header_black.png");
    background-size: cover;
    background-position: center;
}

.top_image {
    background-image: image-url("IMG_6183.JPG");
    background-size: cover;
    background-position: center;
    height: 2500px
}

.second_image {
    background-image: image-url("IMG_6194.JPG");
    background-size: cover;
    background-position: center;
    height: 2200px
}

.logo_image{
	background-image: image-url("vivily_logo.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 120px;
    float: left;
    position: relative;
    margin-top: 50px
}

.logo_image2{
    background-image: image-url("rogo_black.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 120px;
    float: left;
    position: relative;
    margin-top: 50px
}

.content {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  margin: 40px auto;
  background: rgba(0,0,255,0);
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  padding-bottom: 32px;
}

.navbar {
	display: flex;
    padding: 0 50px;
    margin-bottom: 0px;
}
.float-right {
	display: flex;
    padding: 0 50px;
}

header {
	overflow-x: hidden;
}
.navber {
	position: relative;
}
li {
	list-style: none;
}

li {
	font-family: 'Just Another Hand', cursive;
	font-size: 25px;
}
nav ul li {
    float: left;
    position: relative;
    margin-left: 10px;
}
img {
	padding-bottom: 10px
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.box{
    background: #eee;
    height: 200px;
    margin-bottom: 100px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.index_content {
	display: flex;
}
.index_content_text {
	margin: 0 auto;
}

.new-disc{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-information{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-live{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-music{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-movie{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-topic{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}
.new-video{
	font-family: 'Just Another Hand', cursive;
	font-size: 80px
}

.new-blog{
    font-family: 'Just Another Hand', cursive;
    font-size: 80px
}
.new-biography{
    font-family: 'Just Another Hand', cursive;
    font-size: 80px
}

.new-actions{
    margin-top: 20px;
}

.back{
    margin-top: 20px;
    font-family: 'Just Another Hand', cursive;
    font-size: 40px
}

.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.btn-circle-border-double {
    position:fixed;
    right: 31px;
    bottom: 200px
}

.btn-circle-border-double-second {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px
}

.btn-circle-border-double-second:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.btn-circle-border-double-second {
    position:fixed;
    right: 31px;
    bottom: 70px
}

.btn-circle-border-double-third {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px
}

.btn-circle-border-double-third:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.btn-circle-border-double-third {
    position:fixed;
    right: 31px;
    bottom: 330px
}

.text-color {
    color: #FFFFFF;
}
//スクロールアニメーション
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
span{
  width: 70%;
  margin: 0 0 100px;
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

.sign_up{
  font-size: 180px;
  font-family: 'Just Another Hand', cursive;
}
th{
  font-size: 15px;
}

.category-name{
  margin-top: -25px;
}


//マウスホバーアニメーション
.btn05 {
    background-color: #fff;
    color: #fff !important;
    background-size: 200% 100%; 
    background-image: -webkit-linear-gradient(left, transparent 50%, rgba(80, 1, 1, 1) 50%);
    background-image: linear-gradient(to right, transparent 50%, rgba(153, 139, 250, 1) 50%);
    -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
.btn05:hover {
    background-color: black;
    background-position: -100% 100%;
}

.btn05{
  text-decoration: none;
}

.btn06 {
    background-color: black;
    color: #fff !important;
    background-size: 200% 100%; 
    background-image: -webkit-linear-gradient(left, transparent 50%, rgba(80, 1, 1, 1) 50%);
    background-image: linear-gradient(to right, transparent 50%, rgba(153, 139, 250, 1) 50%);
    -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
.btn06:hover {
    background-color: black;
    background-position: -100% 100%;
}

.btn06{
  text-decoration: none;
}

//マウスホバー(image)
figure.snip1283 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  max-height: 290px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1283 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1283 img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
figure.snip1283 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.snip1283 h3,
figure.snip1283 p {
  line-height: 1.5em;
}
figure.snip1283 h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}

figure.snip1283 .read-more {
  border: 2px solid black;
  padding: 0px 0px;
  margin: 90px 50px;
  font-size: 2em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  font-family: 'Just Another Hand', cursive;
}
figure.snip1283 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.snip1283:hover img,
figure.snip1283.hover img {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  opacity: 0;
}
figure.snip1283:hover figcaption,
figure.snip1283.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

//マウスホバー(image2)
figure.snip1353 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  max-height: 290px;
  width: 100%;
  color: #000000;
  text-align: center;
}
figure.snip1353 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1353 img {
  opacity: 1;
  width: 100%;
}
figure.snip1353:after,
figure.snip1353:before {
  background: #ffffff;
  width: 200%;
  height: 200%;
  position: absolute;
  content: '';
  opacity: 0.5;
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
  z-index: 1;
}
figure.snip1353:after {
  top: 0;
  left: 0;
  -webkit-transform: skew(-45deg) translateX(-150%);
  transform: skew(-45deg) translateX(-150%);
}
figure.snip1353:before {
  right: 0;
  bottom: 0;
  -webkit-transform: skew(-45deg) translateX(150%);
  transform: skew(-45deg) translateX(150%);
}
figure.snip1353 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
figure.snip1353 h2{
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1353 h2 {
  padding: 0 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Just Another Hand', cursive;
}

figure.snip1353 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: -70px;
  position: absolute;
  z-index: 2;
}
figure.snip1353:hover img,
figure.snip1353.hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1353:hover:after,
figure.snip1353.hover:after {
  -webkit-transform: skew(-45deg) translateX(-50%);
  transform: skew(-45deg) translateX(-50%);
}
figure.snip1353:hover:before,
figure.snip1353.hover:before {
  -webkit-transform: skew(-45deg) translateX(50%);
  transform: skew(-45deg) translateX(50%);
}
figure.snip1353:hover figcaption h2,
figure.snip1353.hover figcaption h2,{
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1353:hover figcaption h2,
figure.snip1353.hover figcaption h2 {
  opacity: 1;
}
